<!DOCTYPE html>
<html>
        <head>
                <title>OTP</title>
        </head>
        <body>
                <p>
                    Dear Student,<br><br>
                    The Verification OTP is 
                    <br><br>
                    {{otp}}
                </p>
                <p>
                    <br>If there are any issues, Please contatc SRMS admin.
                </p>
                <p>
                    Regards,<br>
                    <br>Team SRMS
                </p>
        </body>
</html>