<!DOCTYPE html>
<html>
        <head>
                <title>Incident Reported</title>
        </head>
        <body>
                <p>
                    <br>
                    {{user}} has reported a bug.
                    <br>The ticket number generated for this issue is {{ticket}}.
                </p>
                <p>
                    <br>Please login through the admin and use the ticket number to find incident details.
                    <br>Image related to the incident is attached along with this mail.
                </p>
                <p>
                    If this bug has already been resolved/fixed please mark the incident as inactive.
                </p>
                <p>
                    Regards,<br>
                    <br>Team SRMS
                </p>
        </body>
</html>