<!DOCTYPE html>
<html>
        <head>
                <title>Incident Reported</title>
        </head>
        <body>
                <p>
                    Dear User,<br><br>
                    The bug reported by you has been fixed.
                    <br>The incident ticket number generated was {{ticket}}.
                </p>
                <p>
                    <br>Please check whether you are still facing the same issue.
                    <br>If you are still facing the same issue, please report the bug and please drop a detailed email regarding it.
                </p>
                <p>
                    Please continue to report bugs so that we can make your user experience better.
                    <br><br>
                    Thank You.
                </p>
                <p>
                    Regards,<br>
                    <br>Team SRMS
                </p>
        </body>
</html>