<!DOCTYPE html>
<html>
        <head>
                <title>hello</title>
        </head>
        <body>
                <p>
                    Dear Student,<br><br>
                    Thank You for answering the quiz using UpscBasicFunda Site.
                    <br>The Answer key is attached along with this mail. Please compare your answers with key.
                </p>
                <p>
                    If there are any issues in the answer key please feel free to contact the support team.
                    <br>Thank you.  
                </p>
                <p>
                    Regards,<br>
                    <br>Team SRMS
                </p>
        </body>
</html>