<!DOCTYPE html>
<html>
        <head>
                <title>hello</title>
        </head>
        <body>
                <p>
                    Dear Student,<br><br>
                    As requested the invoice for {{date}} is attached along with this mail.
                </p>
                <p>
                    <br>The payment mode was {{payment_mode}}.
                    <br>Please check if there are any issues.
                </p>
                <p>
                    If this mail was not requested by you, please contact the owner and report it.
                    <br>Thank you.  
                </p>
                <p>
                    Regards,<br>
                    <br>Team SRMS
                </p>
        </body>
</html>