<!DOCTYPE html>
<html>
        <head>
                <title>Renewal Report</title>
        </head>
        <body>
                <p>
                    Dear Owner,<br><br>
                    Thank you for using our platform to manage your libraries.
                    As requested the report of students renewed is generated.
                </p>
                <p>
                    <br>The report is attached along with this email.
                    <br>Please check if there are any issues.
                </p>
                <p>
                    If this mail was not requested by you, please contact the SRMS Team and report it.
                    <br>If any addition assistance is required, please feel free to contact us.
                    <br>We will be happy to serve you.
                    <br>Thank you.  
                </p>
                <p>
                    Regards,<br>
                    <br>Team SRMS
                </p>
        </body>
</html>