<!DOCTYPE html>
<html>
        <head>
                <title>SRMS Usage Alert</title>
        </head>
        <body>
                <p>
                    Dear Student,<br><br>
                    Your libary usage has crossed 85% of the hour usage limit for your current subscription plan.
                </p>
                <p>
                    <br>You cuurently have {{hoursreamin}} hours remaining in your current subscription plan.
                    <br>Please check if there are any issues.
                </p>
                <p>
                    If there are any issues in the usage please contact the library owner.
                    <br>If any addition assistance is required, please feel free to contact us.
                    <br>We will be happy to serve you.
                    <br>Thank you.  
                </p>
                <p>
                    Regards,<br>
                    <br>Team SRMS
                </p>
        </body>
</html>